name: Build all Dockerfiles & SSH deploy

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read


env:
  DOCKERHUB_ORG: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build_and_push_all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Using python script, log in into dockerhub and push images into repo
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        shell: bash
        run:
         ./build_push
  deploy_via_ssh:
    needs: build_and_push_all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source for docker-compose.yml
        uses: actions/checkout@v4

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Add EC2 host key to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts


      - name: Copy docker-compose.yml
        run: |
          scp docker-compose.yml ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ec2-user/webapp
          scp -r nginx ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ec2-user/webapp/nginx
          
      - name: Deploy on EC2
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} bash -se << E0F
          set -euo pipefail
    
          cd webapp
          echo "DOCKERHUB_USERNAME=${DOCKERHUB_USERNAME}" > .env
          docker-compose pull || true
          docker-compose down
          docker-compose up -d --build

          docker image prune -f || true
          E0F
      
